div {
    border: 2px solid black;
    width: 200px;
    margin: 20px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
}

#box1 {
    text-indent: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
}

#box2 {
    text-indent: 30px;
    letter-spacing: 4px;
    text-transform: lowercase;
    text-shadow: 0px 0px 4px #FF0000;
}

#box3 {
    text-indent: 45px;
    letter-spacing: 6px;
    text-transform:capitalize;
    text-shadow: 2px 2px 8px #FF0000;
}