/* Lösung c) */

h1 {
   text-decoration: underline;
   text-align: center;
}

/* Lösung d) */
a {
   text-decoration: none;
}

span {
   width: 75px;
   height: 25px;
   margin-top: 20px;
   margin-bottom: 10px;
   /* Lösung e) */display:inline-block;
}